@use '../bases/variables' as *;

.activities {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;

    @media (width < $tabletScreenMinWidth) {
        margin-top: 0;
    }


    h1 {
        width: 100%;
        margin-bottom: 30px;
    }

    .list {
        display: flex;
        gap: 30px;

        @media (width < $tabletScreenMinWidth) {
            flex-direction: column;
        }

        @media (width < $tabletScreenMinWidth) {
            gap: 15px;
        }

        .cart {
            width: 35%;
            height: 439px;
            overflow: hidden;
            border-radius: 20px;
            @include boxShadow;

            @media (width <=$tabletScreenMaxWidth) {
                height: 270px;
            }

            @media (width < $tabletScreenMinWidth) {
                height: 200 px;
                width: auto;
            }

            &-img {
                height: 380px;

                @media (width <=$tabletScreenMaxWidth) {
                    height: 200px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &-name {
                padding: 20px;
            }
        }
    }

}